.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: rgba(255, 255, 255, .5);
    z-index: var(--z-fixed);
    backdrop-filter: blur(4px);
}

.header__container {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-gap: 1rem;
    height: 100%;
    margin: 0 1rem;
}

@include mq(medium) {
    .header__container {
        grid-template-columns: 80% 1fr;
        margin: 0 1rem;
    }

}

.header__user-container {
    position: relative;
    width: 40px;
}

.header__firts-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    margin-right: 1rem;
}

.header__search {
    width: 100%;
}

.header__second-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.header__user-container {
    margin-right: 1rem;
}

.header__user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.menu-icon,
.search-icon {
    fill: var(--color-icon);
}

@include mq(large) {
    .header__container {
        margin: 0 2rem;
    }

    .header__user {
        margin-right: 1rem;
    }

}