@keyframes ldio-hnss69l0ql9 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-hnss69l0ql9 div {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 5px solid #b9b9b9;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-hnss69l0ql9 div {
    animation: ldio-hnss69l0ql9 1s linear infinite;
    top: 100px;
    left: 100px
}

.loadingio-spinner-rolling-jnb6418tp2s {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-hnss69l0ql9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-hnss69l0ql9 div {
    box-sizing: content-box;
}
