.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: 0 8px 16px #00000029;
    min-width: 135px;
    border-radius: .25rem;
    box-shadow: 0 8px 16px #00000029;
    min-width: 135px;
    z-index: var(--z-overlay);
    transform: scale(0);
    transform-origin: right top;
    transition: transform .1s ease;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.open-menu {
    transition: transform .3s cubic-bezier(.17, .67, .46, 1.35);
    transform: scale(1);
}

.menu__container {
    padding: .5rem 0;
    z-index: 20;
    overflow: hidden;

    & hr {
        display: block;
        height: .5px;
        border: 0;
        border-top: .5px solid #d1d1d1;
        margin: .25rem 0;
        padding: 0;
    }
}

.menu__list {
    background-color: inherit;
}

.menu__item {
    padding: .5rem 1rem;
    color: var(--main-text-color);
    transition: background-color .1s ease, color .1s ease;
    text-align: end;
    white-space: nowrap;
}

@include mq(large) {
    .menu__item {
        cursor: pointer;
    }

    .menu__item:hover {
        background-color: rgb(247, 247, 247);
        color: var(--main-text-color-alt);
    }
}